.CarouselComponent {
  display: block;
  font-size: 16px;
  color: #abb2bf;
  background: #282c34;
}
.card {
  font-size: 18px;
}
.cardLight {
  background-color: white;
}
.cardDark {
  background-color: #303030;
  color: white;
}
.code {
  color: #859900;
}
