    * {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: white;
    }

.heading {
    xbackground: blue;
    xpadding: 10px;
    font-size: 24px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  xbackground-color: DodgerBlue;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
}

.thelist {
    flex-shrink: 0;
}

.thetext {
    flex-grow: 8;height: 200px;padding: 10px;
}

.theframe {
    flex-grow: 8;height: 900px;padding: 0;
}

select{
  background:transparent;
   width: 170px;
   padding: 2px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:11px;
   font-weight:600;
   color:#fff;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 22px;
  -webkit-appearance: none;

  }

.select-div{
	width: 170px;
	height: 22px;
	overflow: hidden;
	background: url(arrowhead.png) no-repeat right #363636;
	border-top:#575757 1px solid;
	-webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
		  border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: inset 0 2px 4px rgba(107, 105, 105, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  -moz-box-shadow:    0px 8px 3px -9px #000000;
		  -webkit-box-shadow: 0px 8px 3px -9px #000000;
		  box-shadow:         0px 8px 3px -9px #000000;
}

select > option {
  background: pink;
}


.frame {
    overflow-y: auto;
    border: 1px solid black;
    height: 30em;
    width: 20em;
    line-height: 1em;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}




.code {
    background: gainsboro;
    padding: 10px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 30px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 100px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 30px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 100px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  xborder-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}