.ripple-target {
  position: relative;
  height: 150px;
  width: 300px;
  line-height: 150px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  white-space: wrap;
  border: 2px dashed #D0D0D0;
}